@inherits LayoutComponentBase
@using BlazorBootstrap

@* ✅ ส่วนที่เพิ่ม: ปรับความกว้างของ Sidebar *@
 
<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.Boxes"
             Title="BKN IT"
             DataProvider="SidebarDataProvider"
              />

    <main>
        @* --- ส่วนแถบด้านบน (จำเป็นสำหรับ Mobile Toggle) --- *@
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <span class="text-muted">ระบบจัดการทรัพย์สินไอที</span>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            // 1. หน้าหลัก (ยืม-คืน)
            new NavItem {
                Id = "1",
                Href = "/",
                IconName = IconName.ArrowLeftRight,
                Text = "ยืม - คืนอุปกรณ์",
                Match = NavLinkMatch.All
            },

            // 2. จัดการของ
            new NavItem {
                Id = "2",
                Href = "/items",
                IconName = IconName.BoxSeamFill,
                Text = "รายการอุปกรณ์"
            },

            // 3. จัดการแผนก
            new NavItem {
                Id = "3",
                Href = "/departments",
                IconName = IconName.BuildingFill,
                Text = "แผนก"
            },
             new NavItem
        {
            Id = "4",
            Href = "/signature", // ต้องตรงกับ @page "/signature"
            IconName = IconName.PenFill, // รูปปากกา
            Text = "เซ็นชื่อรับรอง"
        },
        };
       
        return navItems;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>